extends layout

block content
  h1= title
  form(ng-submit="addTodo()")
    div       
      input(type="text" placeholder="Add a new todo" ng-model="newTodo")
      label High
      input(type="radio" ng-model="priorityChoice" value="high")
      label Normal
      input(type="radio" ng-model="priorityChoice" value="normal")
      label Low
      input(type="radio" ng-model="priorityChoice" value="low")
      button(type="submit") Add
    select(ng-model="priorityOpt", 
           ng-options="priorityOpt for priorityOpt in priorityOpts", 
           ng-init="priorityOpt = priorityOpt || priorityOpts[0]")
    select(ng-model="statusOpt", 
           ng-options="statusOpt for statusOpt in statusOpts", 
           ng-init="statusOpt = statusOpt || statusOpts[0]")
  ul
    li(ng-repeat="todo in todos | priority:priorityOpt | status:statusOpt track by $index")
      div(ng-hide="editing")
        p(ng-click="editing = true")
          {{todo.content}}

      form(ng-show="editing", ng-submit="editing = false")
        input(type="text", ng-model="todo.content", placeholder="todo.content")
        select(ng-model="todo.priority",
               ng-options="priorityOpt for priorityOpt in priorityOpts",
               ng-change="saveEditedTodo(todo)")
        button(type="submit" ng-click="saveEditedTodo(todo)") Save
      input(type="checkbox" ng-model="todo.completed" ng-change="saveEditedTodo(todo)")
      button(ng-click="removeTodo(todo._id)") Delete
  
