extends layout

block content
  div.container
    div.row
      div.col-md-12
        h1.text-center= title
        form(ng-submit="addTodo()")
          div.form-group.text-center.col-md-12
            div.col-xs-12.col-md-9
              input.form-control(type="text" placeholder="Add a new todo" ng-model="newTodo")
            div.btn-group.col-md-3
              label.btn.btn-success(ng-model="priorityChoice" btn-radio="'high'") High
              label.btn.btn-success(ng-model="priorityChoice" btn-radio="'normal'") Normal
              label.btn.btn-success(ng-model="priorityChoice" btn-radio="'low'") Low
          div.form-group.text-center.col-md-12
            div.col-sm-6.col-sm-offset-3
              button.btn.btn-primary.btn-lg.btn-block(type="submit") Add
        div.col-sm-6
          label Priority
          select.form-control(ng-model="priorityOpt", 
             ng-options="priorityOpt for priorityOpt in priorityOpts", 
             ng-init="priorityOpt = priorityOpt || priorityOpts[0]")
        div.col-sm-6
          label Status
          select.form-control(ng-model="statusOpt", 
             ng-options="statusOpt for statusOpt in statusOpts", 
             ng-init="statusOpt = statusOpt || statusOpts[0]")
        ul.list-unstyled.col-md-12
          li(ng-repeat="todo in todos | priority:priorityOpt | status:statusOpt track by $index")
            div(ng-hide="editing")
              div.text-center
                h3(class="{{todo.priority}}" ng-click="editing = true")
                  {{todo.content}}
                input(type="checkbox" ng-model="todo.completed" ng-change="saveEditedTodo(todo)")
                button.btn.btn-danger(ng-click="removeTodo(todo._id)") Delete

            //TODO make only 1 PUT request, don't save todo until SAVE is clicked
            //TODO don't filter while editing todo
            form(ng-show="editing", ng-submit="editing = false")
              div.col-md-8
                input.form-control(type="text", ng-model="todo.content", placeholder="todo.content")
              div.col-md-4
                select.form-control(ng-model="todo.priority",
                     ng-options="priorityOpt for priorityOpt in priorityOpts",
                     ng-change="saveEditedTodo(todo)")
              div.col-md-12
                div.col-md-6.col-md-offset-3  
                  button.btn.btn-success.btn-block(type="submit" ng-click="saveEditedTodo(todo)") Save
        
